.checkoutProduct{
    display: flex;
    padding: 20px 40px;
    
}
.checkoutProduct__image{
  width: 200px;
  height: 200px;
  object-fit: contain;
 
}
.checkoutProduct__info{
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.checkoutProduct__title{
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
}
.checkoutProduct__price{

}
.checkoutProduct__rating{
  font-size: 12px;
  display: flex;
}

.checkoutProduct__btn{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 120px;
  width: 100%;
}